@font-face {
  font-family: "iconfont"; /* Project id 2961141 */
  src: url('iconfont.woff2?t=1658887758671') format('woff2'),
       url('iconfont.woff?t=1658887758671') format('woff'),
       url('iconfont.ttf?t=1658887758671') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingwei:before {
  content: "\e610";
}

.icon-qiehuan2:before {
  content: "\e7e9";
}

.icon-erweima:before {
  content: "\e65f";
}

.icon-qiehuan1:before {
  content: "\e789";
}

.icon-shijian:before {
  content: "\e618";
}

.icon-didianPlaces18:before {
  content: "\e6c0";
}

.icon-qiehuanyonghu:before {
  content: "\e6c6";
}

.icon-shuangxianzuojiantou:before {
  content: "\e62e";
}

.icon-form:before {
  content: "\eb94";
}

.icon-gengduo:before {
  content: "\ec1c";
}

.icon-xueshengziping:before {
  content: "\e6a8";
}

.icon-qiehuan:before {
  content: "\e629";
}

