* {
    margin: 0;
    padding: 0;
}

i {
    font-style: normal;
}

b {
    font-weight: normal;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearFix:after {
    clear: both;
    display: block;
    content: '';
}